<h1>users</h1>

<a ui-sref="home"> vai home </a>
<div ng-if="$ctrl.users && $ctrl.users[0]">
  <!-- per prendere per esempio un elemento da users, devo controllare che users sia stato popolato dalla promise , per evitare il rischio di leggere variabili vuote e generare errori --> 
primo utente 
{{ $ctrl.users[0].name }}
  <!--   {{$ctrl.users}}
  primo utente della lista : {{ $ctrl.users && $ctrl.users[0] ? $ctrl.users[0].name : 'vuoto'}} -->

<div>
  <ul>
    <li ng-repeat="user in $ctrl.users" ui-sref-active="userselected">
      <a ui-sref="users.detail({ id: user.id })" >
        {{ user.first_name }}
      </a>

      <button ng-click="user.active = !user.active">
        {{ $ctrl.user.active ? "Deactivate" : "Activate" }}
      </button>
    </li>
  </ul>
</div>
  <a ui-sref="users.detail({ id: -1 })" >
        {{ user.first_name }}
      </a>

</div>
<div ng-if="!($ctrl.users && $ctrl.users[0])">
  caricamento in corso 
</div>

      <a ui-sref="users.detail({ id: -1 })" >new user 
      </a>
